<div class="mx-auto max-w-lg">
    <mat-card>
        <div class="m-4">
            <h1 class="text-xl font-semibold text-center">{{ 'identityConfirmation.title' | translate }}</h1>
            <p class="text-center">{{ 'identityConfirmation.description' | translate:{ email: email } }}</p>
            <form [formGroup]="confirmationForm" class="flex flex-col gap-4 mt-4" (ngSubmit)="onSubmit()">
                <mat-form-field appearance="outline">
                    <mat-label>{{ 'identityConfirmation.label' | translate }}</mat-label>
                    <input matInput type="text" maxlength="6" formControlName="token" 
                           [placeholder]="'identityConfirmation.placeholder' | translate">
                </mat-form-field>
                <button mat-stroked-button type="submit" [disabled]="confirmationForm.invalid">
                    {{ 'identityConfirmation.submit' | translate }}
                </button>
            </form>
        </div>
    </mat-card>
</div>
