@if (artist) {
<div class="artist-card mx-auto rounded-lg">
    <!-- Picture Slider -->
    <div *ngIf="pictures && pictures.length > 0" class="slider-container">
        <button class="nav-button left" (click)="prevPicture()">
            <mat-icon>chevron_left</mat-icon>
        </button>
        <a [routerLink]="'/showroom/' + artist.id" class="w-full h-full">
            <img class="artist-picture" [src]="pictures[currentPictureIndex].imageUrl" alt="Artwork Image">
        </a>
        <button class="nav-button right" (click)="nextPicture()">
            <mat-icon>chevron_right</mat-icon>
        </button>
    </div>

    <!-- Artist Information -->
    <div class="mb-auto cursor-pointer border-x border-color">
        <div routerLink="/showroom/{{artist.id}}" class="p-2">
            <h2 class="text-xl font-bold">{{artist.firstName}} {{artist.lastName}}</h2>
            <p class="text-lg">{{artist.city}}</p>
            <!-- <div class="styles-container mb-2">
                <span class="style-tag" *ngFor="let style of artist.style">{{ style }}</span>
            </div> -->
            <p class="text-lg">{{artist.hourlyRate | globalCurrency}} {{'showroom.per-hour' | translate}}</p>
        </div>
    </div>
    <div routerLink="/showroom/{{artist.id}}" 
        class="w-full rounded-b-lg text-center py-2 cursor-pointer artist-detail-page-button">
        {{'showroom.artist-detail-page' | translate}}
    </div>
</div>
}
