<div class="max-w-lg mx-auto">
    <h1 class="header-1 mb-4 text-center">Imprint</h1>
    <div class="flex flex-col gap-6 bg-gray-800 p-6 rounded-lg">
        <div>
            <p class="font-bold text-xl">Service provider</p>
            <p>Zen Tattoo</p>
            <p>Kornblumenweg 2</p>
            <p>78176 Blumberg</p>
            <p>Germany</p>
            <p>Nemanja Tomic</p>
        </div>
        <div>
            <p class="font-bold text-xl">Contact</p>
            <p>contact&#64;zen-tattoo.de</p>
            <p>+49 176 6244 7934</p>
        </div>
        <div>
            <p class="font-bold text-xl">Sales tax identification number</p>
            <p>82 310 395 464</p>
        </div>
        <div>
            <p class="font-bold text-xl">Copyright</p>
            <p>Copyright ©{{currentYear}} Zen Tattoo. All rights reserved.</p>
        </div>
    </div>
</div>