.portfolio-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.portfolio-item {
  position: relative; /* Required to position the icon absolutely within the item */
}

.delete-icon {
  position: absolute;
  top: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%; /* Makes the icon round */
  border: none; /* Remove any default border */
  transition: background-color 0.3s;
  z-index: 10; /* Ensure the icon is above the image */
}

.delete-icon:hover {
  background-color: rgba(0, 0, 0, 0.8); /* Darker background on hover */
  transform: scale(1.1);
}

.delete-icon mat-icon {
  font-size: 24px;
  line-height: 1;
}