<mat-card class="flex items-center flex-col gap-4 shadow-md mx-auto max-w-lg p-12">
    <div class="text-center">
        <h2 class="text-2xl font-semibold text-center mb-4">{{ 'resetPassword.title' | translate }}</h2>
        <p class="text-sm text-center mb-6 w-3/4 mx-auto">{{ 'resetPassword.description' | translate }}</p>
    </div>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="w-full">
        <!-- Password Field -->
        <mat-form-field appearance="outline" class="w-full mb-4">
            <mat-label>{{ 'resetPassword.newPasswordLabel' | translate }}</mat-label>
            <input matInput [placeholder]="'resetPassword.newPasswordPlaceholder' | translate" 
                [type]="hidePassword ? 'password' : 'text'" 
                formControlName="newPassword" required>
            <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            <mat-error *ngIf="resetPasswordForm.get('newPassword')?.invalid && resetPasswordForm.get('newPassword')?.touched">
                {{ 'resetPassword.newPasswordError' | translate }}
            </mat-error>
        </mat-form-field>
        <!-- Submit Button -->
        <div class="flex justify-around">
            <button mat-stroked-button type="submit" [disabled]="resetPasswordForm.invalid">
                {{ 'resetPassword.submitButton' | translate }}
            </button>
        </div>
    </form>
</mat-card>
